.DS_Store
.dart_tool/

.packages
.pub/

pubspec.lock

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner/GeneratedPluginRegistrant.*

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

example/ios/.generated/
example/ios/Flutter/Generated.xcconfig
example/ios/Flutter/flutter_export_environment.sh
example/ios/Runner/GeneratedPluginRegistrant.*
